#root {
  width:100%;
  text-align: center;
}

body > #root > div {
  height: 100vh;
}

.cousine-regular {
  font-family: "Cousine", monospace;
  font-weight: 400;
  font-style: normal;
  font-size: 11px;

}

.cousine-bold {
  font-family: "Cousine", monospace;
  font-weight: 700;
  font-style: normal;
  font-size: 12px;

}

.cousine-bold-nav {
  font-family: "Cousine", monospace;
  font-weight: 700;
  font-style: normal;
  font-size: 12px;
  color: #FFFF;
}

.cousine-bold-nav:hover {
  font-family: "Cousine", monospace;
  font-weight: 700;
  font-style: normal;
  font-size: 12px;
  color: #FFFF;
  text-decoration: line-through;
}

.cousine-bold-nav.active {
  font-family: "Cousine", monospace;
  font-weight: 700;
  font-style: normal;
  font-size: 12px;
  color: #FFFF;
  text-decoration: line-through;
}
.cousine-regular-italic {
  font-family: "Cousine", monospace;
  font-weight: 400;
  font-style: italic;
}

.cousine-bold-italic {
  font-family: "Cousine", monospace;
  font-weight: 700;
  font-style: italic;
}

.menu-icon:hover{
  cursor: pointer;
}

/* .menu-icon{
  color:#737373;
} */

.mode-toggle:hover {
  cursor: pointer;
}